# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
insert_final_newline = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,ts,jsx,tsx,html,css,scss,md,json}]
indent_size = 2
charset = utf-8

# Tab indentation (no size specified)
[Makefile]
indent_style = space

# Matches all files within directories that begin with a dot
[*.md]
trim_trailing_whitespace = true
